@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
  padding: 0px;
  margin: 0px;
}

/*   nuevas vistas  */
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}

.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

nav {
  float: right;
  width: 60%;
}

@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

ul {
  margin-right: 15px;
}

@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}

nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.row {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 0%;
}

* {
  box-sizing: border-box;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

/* Seccion Home */
.selector {
  width: 100%;
  opacity: 0.80;
  height: 100vh;
}

.texto {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 65px;
  position: absolute;
  text-align: center;
  top: 10%;
}

.texto h1 {
  font-size: 2em;
  letter-spacing: .1em;
  text-shadow: -1px 2px 1px #737272,  -2px 4px 1px #767474,  -3px 6px 1px #787777;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 2%;
  height: 7vh;
  border-radius: 13px;
  border: 3px solid white;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}

.mouse span {
  display: block;
  margin: 6px auto;
  width: 1%;
  height: 2px;
  border-radius: 10px;
  background: white;
  border: 3px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

/* Fin Home */
/*  Seccion Acerca de Mi */
.descripcion {
  display: inline-block;
  padding: 30px;
  background-color: rgba(245, 240, 240, 0.753);
  height: 684px;
  text-align: center;
}

.descripcion h1 {
  margin-top: 45px;
  font-family: "Oswald", sans-serif;
  font-size: 8em;
  text-align: center;
}

.descripcion hr {
  border: 2px solid #1b252e;
  width: 40%;
  margin-left: 30%;
}

.descripcion p {
  width: 70%;
  font-size: 1.3em;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 15%;
  font-family: "Roboto", sans-serif;
}

.caja-foto {
  display: inline-block;
  height: 684px;
  background-color: rgba(202, 198, 198, 0.438);
}

.foto {
  width: 70%;
  height: 400px;
  margin-top: 150px;
  margin-left: 70px;
}

.gustos {
  font-size: 4.6em;
  margin-top: 15px;
}

/* Fin Acerca de Mi */
/*  Seccion Habilidades */
.contenido {
  display: inline-block;
  padding: 30px;
  background-color: rgba(202, 198, 198, 0.438);
  height: 660px;
}

.contenido h1 {
  font-family: "Oswald", sans-serif;
  margin-top: 60px;
  text-align: center;
  font-size: 5em;
}

.contenido hr {
  border: 2px solid #1b252e;
  width: 69%;
  margin-left: 17%;
}

.contenido p {
  font-family: "Roboto", sans-serif;
}

.hacka {
  margin-top: 80px;
  margin-left: 10px;
}

.bars {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 30px;
  background-color: rgba(245, 240, 240, 0.753);
  height: 660px;
}

.tooltip {
  position: relative;
  float: right;
}

.tooltip > .tooltip-inner {
  background-color: #eebf3f;
  padding: 5px 15px;
  color: #172c42;
  font-weight: bold;
  font-size: 13px;
}

.popOver + .tooltip > .tooltip-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #eebf3f;
}

.barWrapper {
  margin-top: 45px;
}

section {
  margin: 140px auto;
  height: 1000px;
}

.progress {
  border-radius: 0;
  height: 6px;
  margin-bottom: 40px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  background: #172c3c;
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

/* Fin Habilidades */
/*  Seccion Portafolio */
.portafolio {
  background-color: white;
  color: black;
  text-align: center;
  width: 100%;
  font-size: 3em;
  margin-bottom: 50px;
}

.portf-title {
  margin-top: 30px;
  text-align: center;
}

.portf-title h1 {
  font-family: "Oswald", sans-serif;
  font-size: 6em;
  margin-top: 70px;
}

.portf-title hr {
  border: 2px solid #1b252e;
  width: 17%;
  margin-left: 41%;
}

.demos {
  margin: 10px;
}

.snip1548 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}

.snip1548 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1548:before {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  bottom: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1548 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1548 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snip1548 h3,
.snip1548 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1548 h3 {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}

.snip1548 h5 {
  font-weight: normal;
  background-color: transparent;
  padding: 3px 10px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  border: 1px solid white;
  color: white;
  padding: 10px;
}

.snip1548 a {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-decoration: none;
}

.snip1548:hover:before,
.snip1548.hover:before {
  bottom: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1548:hover h3,
.snip1548.hover h3,
.snip1548:hover h5,
.snip1548.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.snip1548:hover h3,
.snip1548.hover h3 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1548:hover h5,
.snip1548.hover h5 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* Fin Portafolio */
/* Seccion Contactame */
.datos {
  display: inline-block;
  padding: 10px;
  background-color: rgba(245, 240, 240, 0.753);
  height: 91vh;
  text-align: center;
}

.datos h1 {
  margin-top: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 5.7em;
}

.datos #parrafo {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.datos hr {
  border: 2px solid #1b252e;
  width: 25%;
  margin-left: 38%;
}

.btn-glyt {
  background-color: transparent;
  color: black;
  border-color: black;
  padding: 5px;
  margin: 10px;
  width: 5%;
  height: 7vh;
}

.icons {
  margin-left: 0px;
  font-size: 1.4em;
  margin-top: 40px;
  padding: 20px;
}

.icons #datitos {
  margin-top: 19px;
}

.btn-glyt-descarga-redes {
  background-color: transparent;
  color: black;
  border-color: black;
  padding: 4px;
  margin: 5px;
  width: 10%;
  height: 7vh;
}

.icons-descarga {
  display: inline-block;
  margin-top: 40px;
  margin-right: 50px;
}

.photos {
  background-position: center;
}

.footer {
  background-color: #e4e2e2d7;
  padding: 8px;
  top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer p {
  color: black;
}

/* Trabajando Medias Query */
@media screen and (max-width: 768px) {
  .descripcion {
    height: auto;
  }
  .descripcion h1 {
    font-size: 1em;
  }
  .datos {
    height: auto;
  }
  .contenido {
    height: auto;
    background-color: rgba(245, 240, 240, 0.753);
  }
  .bars {
    background-color: rgba(202, 198, 198, 0.438);
  }
  .datos-person {
    height: auto;
  }
}
 

 /*# sourceMappingURL= App.css.map */